:host {
  display: block;
  width: 100%;
}
mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form {
  width: 100%;
}
mat-card {
  width: 100%;
}
mat-card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
