@import url('@student/styles/full-size-component.scss');

form {
    max-width: 700px;
    margin: 0 auto;
}
.copy-icon {
    font-size: 15px;
    height: 15px;
    width: 15px;
}

mat-form-field {
    width: 100%;
}
table {
    width: 100%;
}
mat-card-title {
    display: inline;
}
mat-card-header ::ng-deep .mat-mdc-card-header-text {
    width: 100%;
}
.card-right {
    position: absolute;
    top: 15px;
    right: 15px;
}
mat-card-actions {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px
}
