<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="mat-headline-4 title">Dictionary: Lessone 1 - Title of Book</div>
  <mat-stepper orientation="vertical" formArrayName="dictionary">
    @for (
      question of dictionaryList();
      track question.id;
      let index = $index, first = $first, last = $last
    ) {
      <mat-step [editable]="true">
        <ng-template matStepLabel>{{ question.answer }}</ng-template>
        <ng-template matStepContent>
          <h1 class="mat-title">
            {{ question.tajik | titlecase }} -
            {{ question.russian | titlecase }}
          </h1>
          <mat-form-field>
            <mat-label>Type answer question</mat-label>
            <input
              matInput
              [autofocus]="true"
              [value]="question.answer"
              [formControlName]="index"
              (keydown.enter)="onInputEnter($event, index)"
              (input)="input($event, question)" />
            @if (isValidField(index)) {
              <mat-error>answer is <strong>required</strong></mat-error>
            }
          </mat-form-field>
          <div class="buttons">
            @if (!first) {
              <button type="button" mat-button matStepperPrevious accesskey="z">
                Back
              </button>
            }
            @if (!last) {
              <button
                type="button"
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="
                  formGroup
                    .get('dictionary')!
                    .get('' + index)!
                    .invalid
                ">
                Next
              </button>
            } @else {
              <button
                type="submit"
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="formGroup.invalid">
                Submit
              </button>
            }
          </div>
        </ng-template>
      </mat-step>
    } @empty {
      Empty list of Questions
    }
  </mat-stepper>
</form>
