:host {
    height: 100%;
    display: flex;
    flex-direction: column
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
.example-spacer {
    flex: 1 1 auto;
}
mat-toolbar {
    flex: 0 0 64px;
}
mat-drawer-container {
    flex-grow: 1;
}
.sidenav {
    background: var(--prime-color);
}
.mat-list-item {
    color: white
}
mat-drawer {
    max-width: 50%;
    width: 200px;
}
mat-drawer button {
    width: 100%;
    display: block;
}
.menu-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    column-gap: 10px
    
}